<div class="modal fade" id="rusuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Usuario</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="registrar">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="namecandidato">Nombre y Apellido</label>
                            <input type="text" id="namerg"  class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="cedulacandidato">Correo Electrónico</label>
                            <input type="mail" id="emailrg" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label for="civilcandidato">Usuario</label>
                            <input type="text" id="userrg" class="form-control">
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="civilcandidato">Contraseña</label>
                            <input type="password" id="passwordrg" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label for="civilcandidato">Confirmar Contraseña</label>
                            <input type="password" id="cpasswordrg" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="rg-btn">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--INICIO MODAL DE ACCIONES CON USUARIO REGISTRADO-->
<div class="modal fade" id="mrusuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Información de Usuario</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <input type="hidden" id="userModifyId">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="namecandidato">Nombre y Apellido</label>
                            <input type="text" id="name_modify" readonly="readonly"  class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="cedulacandidato">Correo Electrónico</label>
                            <input type="mail" id="email_modify" readonly="readonly" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label for="civilcandidato">Usuario</label>
                            <input type="text" id="usuario_modify" readonly="readonly" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="civilcandidato">Contraseña</label>
                            <input type="password" id="pass_modify" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label for="civilcandidato">Confirmar Contraseña</label>
                            <input type="password" id="cpass_modify" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Acciones<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a id="actualizar">Guardar</a></li>
                    <li><a id="eliminar">Eliminar</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FIN MODAL DE ACCIONES CON USUARIO REGISTRADO-->
<!--main content start-->
<section id="main-content">
     <div class="row">
        <div class="col-md-12" style="margin-top: 25px;">
            <h1 class="h1">Tabla de Usuarios</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="padding: 15px 15px 23px 15px !important;">
                <h3 class="panel-title" style="margin-top: 16px !important;">Información de Usuarios del Sistema</h3>
                <div class="actions pull-right">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#rusuario">Agregar</button>
                </div>
              </div>
              <div class="panel-body">
                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nombre y Apellido</th>
                        <th>Correo Electronico</th>
                        <th>Usuario</th>
                        <th>Acciones</th>
                        <th id="estatus">Estado</th>
                    </tr>
                </thead>
         
                <tbody id="users">

                </tbody>
            </table>

           </div>
         </div>
    </div>
</div>

<script src="assets/js/app.js"></script> <!-- jQuery -->

    <!--ToDo end-->
</section>
        
<!--main content end-->